<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/tiwdb?serverTimezone=UTC</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>mysql</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>kyra1907</param-value>
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <filter>
        <filter-name>FiltroLogged</filter-name>
        <filter-class>it.jonnysciar.html_pure.filters.FiltroLogged</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroNotLogged</filter-name>
        <filter-class>it.jonnysciar.html_pure.filters.FiltroNotLogged</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroImpiegato</filter-name>
        <filter-class>it.jonnysciar.html_pure.filters.FiltroImpiegato</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroUtente</filter-name>
        <filter-class>it.jonnysciar.html_pure.filters.FiltroUtente</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroLogged</filter-name>
        <url-pattern>/homepageUtente</url-pattern>
        <url-pattern>/homepageImpiegato</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroNotLogged</filter-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/registrazione</url-pattern>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroImpiegato</filter-name>
        <url-pattern>/homepageImpiegato</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroUtente</filter-name>
        <url-pattern>/homepageUtente</url-pattern>
        <url-pattern>/CheckPreventivo</url-pattern>
    </filter-mapping>
</web-app>